{
  "env": {
    "node": true, // 只需将该项设置为 true 即可
    "commonjs": true,
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module"
  },
  "extends": ["eslint:recommended", "prettier"],
  "rules": {
    "no-prototype-builtins": "warn",
    "no-useless-catch": "warn"
  }
}
